---
layout: layouts/home.njk
eleventyNavigation:
  key: Finance
  order: 4

---
<H1>Finance</H1>

<H2>2021</H2>
<img src="../img/w3images/BGC2021_sankey.png" class="w3-image" alt="Responsive image">

<H2>2020</H2>
<img src="../img/w3images/BGC2020_sankey.png" class="w3-image" alt="Responsive image">
