---
layout: layouts/home.njk
fa-icon: 'fa-home'
eleventyNavigation:
  key: Home
  order: 1
  url: /#
---
<header class="w3-container w3-padding-32 w3-center w3-black" id="home">
 <h1 class="w3-jumbo"><span class="w3-hide-small">Welcome to the </span> {{ metadata.title }}.</h1>
  <p>A resource for a year in office.</p>
  <img src="{{ 'img/w3images/06BGC002pano.jpg' | url }}" alt="storm" class="w3-image" width="992" height="1108">
</header>


<!-- About Section -->
  <div class="w3-content w3-justify w3-text-grey w3-padding-64" id="about">
    <h2 class="w3-text-light-grey">The Captain's Resource</h2>
    <hr style="width:200px" class="w3-opacity">
    <p>'You get out what you put in', ' Its as hard as you want to make it', 'prior planning prevents poor performance'.  Whatever your take on the approach you choose for your time in office, a little extra insight never harms.  <br><br>The content in this resource looks to provide a fast track way to keep on top of things.  For everything that isnt in here just reach out to those knowlegable ex-officios around you.
    </p>
        
    <div class="w3-row w3-center w3-padding-16 w3-section w3-light-grey">
      <div class="w3-quarter w3-section">
        <span class="w3-xlarge">20+</span><br>
        Past Captains
      </div>
      <div class="w3-quarter w3-section">
        <span class="w3-xlarge">50+</span><br>
        Events
      </div>
      <div class="w3-quarter w3-section">
        <span class="w3-xlarge">100+</span><br>
        Tips
      </div>
      <div class="w3-quarter w3-section">
        <span class="w3-xlarge">150+</span><br>
        Years XP
      </div>
    </div>

    <button class="w3-button w3-light-grey w3-padding-large w3-section" onclick="window.open('{{ 'files/BGCROADMAP2020-21.pdf' | url}}')">
      <i class="fa fa-download"></i> Download Roadmap
    </button>
    
    
    
    <!-- Testimonials -->
    <h3 class="w3-padding-24 w3-text-light-grey">Author</h3>  
    <img src="{{ '/img/w3images/golfball.jpg' | url}}" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:80px">
    <p><span class="w3-large w3-margin-right">John Megson.</span> </p>
    <p>Past-Captain , former Committee Member and hanging around usefully in the backstage across two decades.</p><br>
      <!-- End About Section -->
  </div>


<!-- Portfolio Section -->
  <div class="w3-padding-64 w3-content" id="resources">
    <h2 class="w3-text-light-grey">Resources</h2>
    <hr style="width:200px" class="w3-opacity">

    <!-- Grid for Resources -->
    <div class="w3-row-padding" style="margin:0 -16px">

  {#  <div class="w3-half">
    {% for post in collections.photo | head(-10) %}
      {% if loop.index==4 %}
      </div><div class="w3-half">
      {% endif %}
        <a href="{{ post.url | url}}"><img src = "{{ post.data.image | url }}" style="width:100%" > </a>
        
    {% endfor %}
    
    </div>
#}
    
<style>
.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create two equal columns that sit next to each other */
.column {
  flex: 50%;
  max-width: 50%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
}
  {% raw %}
@media (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
  {% endraw %}

</style>
<div class="row"> 
  <div class="column">
   {% for post in collections.photo | head(-8) %}
   {% if loop.index==4 %}
      </div><div class="column">
      {% endif %}
  
    <a href="{{ post.url | url}}"><img src = "{{ post.data.image | url }}" style="width:100%;margin-bottom:0px" > </a>
  
  {% endfor %}
  </div>
  </div>


     
    <!-- End Resource grid -->
    </div>
  <!-- End Portfolio Section -->
  </div>
   
 <div class="w3-content w3-justify w3-text-grey w3-padding-64">
<h1>Latest 3 Posts</h1>

{% set postslist = collections.posts | head(-3) %}
{% set postslistCounter = collections.posts | length %}
{% include "postslist.njk" %}

<p>More posts can be found in <a href="{{ '/posts/' | url }}">the archive</a>.</p>
</div>
<!-- Contact Section -->
  <div class="w3-padding-64 w3-content w3-text-grey" id="contact">
    <h2 class="w3-text-light-grey">Contact Me</h2>
    <hr style="width:200px" class="w3-opacity">

    <div class="w3-section">
      <p><i class="fa fa-map-marker fa-fw w3-text-white w3-xxlarge w3-margin-right"></i> Baildon, UK</p>
      <p><i class="fa fa-phone fa-fw w3-text-white w3-xxlarge w3-margin-right"></i> Phone: +44 TBC</p>
      <p><i class="fa fa-envelope fa-fw w3-text-white w3-xxlarge w3-margin-right"> </i> Email: resource@mail.com</p>
    </div><br>
    <p>Lets get in touch. Send me a message:</p>

    <form action="/action_page.php" target="_blank">
      <p><input class="w3-input w3-padding-16" type="text" placeholder="Name" required name="Name"></p>
      <p><input class="w3-input w3-padding-16" type="text" placeholder="Email" required name="Email"></p>
      <p><input class="w3-input w3-padding-16" type="text" placeholder="Subject" required name="Subject"></p>
      <p><input class="w3-input w3-padding-16" type="text" placeholder="Message" required name="Message"></p>
      <p>
        <button class="w3-button w3-light-grey w3-padding-large" type="submit">
          <i class="fa fa-paper-plane"></i> SEND MESSAGE
        </button>
      </p>
    </form>
  <!-- End Contact Section -->
  </div>