---
layout: layouts/base.njk
templateClass: tmpl-post
---
<div class="w3-content">
<h1>{{ title }}</h1>

<div class="w3-image>
{{ content | safe }}
</div>
<p><a href="{{ '/' | url }}">← Home</a></p>
</div>